<div class="container-fluid bg-light ">
  <div class="container   ">
    <div class="row" >

      <div class="col-md-3 ">
          <div class="shadow p-1 mb-5 rounded" style="color:grey">
            <h2><strong style="margin-left:30px;"> 40 + </strong></h2>
            <p style="font-size:10px;"><strong id="strong" style="margin-left:30px;" > CITIES </strong></p>
          </div>
      </div>

      <div class="col-md-3  ">
          <div class="shadow p-1 mb-5 rounded">
            <h2><strong style="margin-left:30px;"> 5 M </strong></h2>
            <p style="font-size:10px;"><strong style="margin-left:30px;"> KILOMETERS </strong></p>
          </div>
      </div>

      <div class="col-md-3 ">
          <div class="shadow p-1 mb-5  rounded">
            <h2><strong style="margin-left:30px;"> 4.6 <i class="fa fa-star" style="font-size:15px;" ></i></strong> </h2>
            <p style="font-size:10px;"><strong style="margin-left:30px;">ON FACEBOOK </strong> </p>

          </div>

      </div>

      <div class="col-md-3 ">
          <div class="shadow p-1 mb-5  rounded">
            <h2><strong style="margin-left:30px;"> 4.5 <i class="fa fa-star" style="font-size:15px;" ></i></strong> </h2>
            <p style="font-size:10px;"><strong style="margin-left:30px;">ON GOOGLE </strong> </p>

          </div>

      </div>

    </div>

  </div>
  

</div><br>
<h2 id="speciality" class="text-center"><strong> OUR SPECIALITY </strong></h2><br><br>

<div class="container-fluid ">
    <div class="container   ">
      <div class="row" >

        <div class=" col-md-3  ">
            <div class="d-flex flex-row">
              <h2 style="font-size:40px; color:yellow; margin-inline-end: 20px;">1</h2>

             <h6 style="margin-top:5px;"><strong style="font-size:16px;"> First RTO Authorized bike rental </strong></h6>
            </div> 
             <p style="font-size:13px; ">Pioneers in renting out bikes legally in karnataka </p>
        </div>
  
        <div class=" col-md-3  ">
            <div class="d-flex flex-row">
              <h2 style="font-size:40px; color:yellow; margin-inline-end: 20px;">2</h2>

             <h6 style="margin-top:5px;"><strong style="font-size:16px; "> Bikes in top notch condition </strong></h6>
            </div> 
             <p style="font-size:13px; " > Each bike is cleaned and serviced weekly and also once renting out </p>
        </div>
  
        <div class=" col-md-3  ">
            <div class="d-flex flex-row">
              <h2 style="font-size:50px; color:yellow; margin-inline-end: 20px;">3</h2>

             <h6 style="margin-top:5px;"><strong style="font-size:16px; "> Timely pick up and drop off </strong></h6>
            </div> 
             <p style="font-size:13px; "> If we delay even by 15 min <i class="fa fa-rupee"></i>25 on scooter and <i class="fa fa-rupee"></i>50 on bkies will be refunded </p>
        </div>
  
        <div class=" col-md-3  ">
            <div class="d-flex flex-row">
              <h2 style="font-size:50px; color:yellow; margin-inline-end: 20px;">4</h2>

             <h6 style="margin-top:5px;"><strong style="font-size:16px; "> Home delivery on weekdays* </strong></h6>
            </div> 
             <p style="font-size:13px; "> Now avial our service and get the key to happiness at your doorstep. </p>
        </div>

         


      </div>
  
    </div>
    
  
  </div><br><br>



  <div class="container-fluid ">
      <div class="container   ">
        <div class="row" >
  
          <div class=" col-md-3  ">
              <div class="d-flex flex-row">
                <h2 style="font-size:40px; color:yellow; margin-inline-end: 20px;">5</h2>
  
               <h6 style="margin-top:5px;"><strong style="font-size:16px; "> Comercial Insurance is coverd </strong></h6>
              </div> 
               <p style="font-size:13px; "> we have a valid commercail insurance for the rider, pillion and third party </p>
          </div>
    
          <div class=" col-md-3  ">
              <div class="d-flex flex-row">
                <h2 style="font-size:40px; color:yellow; margin-inline-end: 20px;">6</h2>
  
               <h6 style="margin-top:5px;"><strong style="font-size:16px; "> Most trusted & transoarent process </strong></h6>
              </div> 
               <p style="font-size:13px; "> We are upfront about the entire process of renting a bikes from us </p>
          </div>
    
          <div class=" col-md-3  ">
              <div class="d-flex flex-row">
                <h2 style="font-size:50px; color:yellow; margin-inline-end: 20px;">7</h2>
  
               <h6 style="margin-top:5px;"><strong style="font-size:16px; "> 19 pickup locations in bangalore </strong></h6>
              </div> 
               <p style="font-size:13px; "> There are good chances you will find us in 3km radius from your location </p>
          </div>
    
          <div class=" col-md-3  ">
              <div class="d-flex flex-row">
                <h2 style="font-size:50px; color:yellow; margin-inline-end: 20px;">4</h2>
  
               <h6 style="margin-top:5px;"><strong style="font-size:16px; "> Choose from a wide variety of bikes </strong></h6>
              </div> 
               <p style="font-size:13px; "> Pick a bike that suits your need from scooters to superbikes </p>
          </div>
  
           
  
  
        </div>
    
      </div>
      
    
    </div>